@inject UserManager<ApplicationUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    var categories = ViewBag.Categories as List<Category>;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap4/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/easing/easing.js"></script>
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/datatables-demo.js"></script>
    <script src="~/lib/bootstrap4/bootstrap.min.js"></script>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img class="img-profile rounded-circle" style="border:2px solid" width="30" src="~/images/AvatarShop/avatar.jpg">
                </div>
                <div class="sidebar-brand-text mx-3">HPT_BagShop</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="ProductsManage" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Products Management</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Catygory Management</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index">
                    <span>Users Managemnet</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Role" asp-action="Index">
                    <span>Roles Management</span>
                </a>
            </li>

            <!-- Nav Item - Advertises -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Advertises" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Advertises</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size:25px;">@user.FullName</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-wrench fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Imformation
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>

                </nav>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        @RenderBody()
                    </div>

                </div>
            </div>
        </div>

    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <form asp-controller="Account" asp-action="Logout" method="post">
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @RenderSection("Script", false);
    <div style="text-align: center; width: 100%; min-width: 980px; overflow: hidden; background: #f8f8f8; padding: 10px 0;">
        <p>© @DateTime.Now.Year</p>
        <p>Địa chỉ: 28 Trần Quang Khải, TP.Huế. Điện thoại: 0212345678. Email:hathuong085@gmail.com . Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. <a href="/thoa-thuan-su-dung-trang-mxh">Xem chính sách sử dụng</a></p>
    </div>
</body>

</html>
